





# Dependency directories
# dotenv environment variables file
.env
.next
.vercel
.vscode/
__generated__
backend/dist/
dist
jspm_packages/
node_modules/
tests-e2e/cypress/screenshots/
tests-e2e/cypress/videos/
tsconfig.tsbuildinfo
